.footer{
  width: 70%;
  margin: 0 auto;
  .footer__block{
    text-align: center;
    padding: 10px 0;
    .footer__text-box1{
      .footer-privacy{
        text-decoration: none;
        color: gray;
        border-bottom: 1px gray solid;
      }
      .footer-law{
        text-decoration: none;
        color: gray;
        border-bottom: 1px gray solid;
      }
    } 
    .footer__text-box2{
      .footer-copyright{
      }
    }
  }
}