// ヘッダー
.header {
	display: flex;
  flex-direction: row;
  padding: 2rem 0 0 0;
}
.logobox {
  width: 223px;
  height: 38px;
}
.header-box {
	margin-left: auto;
	margin-top: 8px;
}
.contact-button {
	padding: 1rem;
	border: 2px solid #000;
}
// ーーーーーーーーーーーーーーーーーーー
// 画像のいろいろ
.missionbox {
  position: relative;
  text-align: center;
}
.mainimg{
  margin-top: 10px;
  background:image-url("actshop.JPG");  
  width:100%;
  height: 500px;
  background-size:cover;
  background-position:50%;
  position: relative;
  box-sizing     : border-box; 
  display        : flex;
  justify-content: center;
  align-items    : center;  
}
.mainimg::after {
  content: '';
  background-color: rgba(13, 6, 110, 0.685);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 500px;
  
}
// 画像内の文字
.maincatch {
  text-align: center;
  font-family: cursive;
  margin: 0;
  padding: .2em;
  font-size:2.0rem;
  color: #FFF;
  font-weight: bold;
  position: relative;
  z-index: 1;
  
}
.missionmessage {
  margin-left: 10px;
  padding: .2em;
  font-size:1.0rem;
  color: #FFF;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
// ーーーーーーーーーーーーーーーーーーー

// ーーーーーphilosophy　BOXーーーーー
.catch{
  text-align: center;
  margin-top: 10px;
}
.under {
  font-size: x-large;
  font-family: cursive;
}
// ーーーーーーーーーーーーーーーーーーー

// ━━━━━━━━━━━社長BOX━━━━━━━━━━━
.message{
  clear: both;
  width: 100%;
  background: #f6f6f6;
  display: table;
  margin-top: 10px;
}
.message-box {
  width: 70%;
  margin: 0 auto;
}
ul.message-text{
  list-style: none;
  display: flex;
}
.topmessage {
  text-align: center;
  font-weight: 300;
  font-size: x-large;
}
.bgi{
  height: 100%;
  margin-left: 25px;
  margin-top: 10px;
}
img.topimg{
  height: auto;
}
// ━━━━━━━━━━━ここまで━━━━━━━━━━━

// ーーーーー私たちの挑戦ーーーーー
.challenge {
  margin-top: 10px;
  background:image-url("S__15515651.jpg");  
  width:100%;
  height: 100px;
  background-size:cover;
  background-position:50%;
  position: relative;
  box-sizing     : border-box; 
  display        : flex;
  justify-content: center;
  align-items    : center;  
}
.challenge::after {
  content: '';
  background-color: rgba(82, 1, 1, 0.685);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100px;
}
.challenge-title {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding: .2em;
  font-size:1.5rem;
  color: #FFF;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
// ーーーーーーーーーーーーーーーーーーー


// ーーーーーー上の段ーーーーーー
.content-upper{
  padding: 40px 10px;
  display: flex;
  border-bottom: 1px solid #C0C0C0;
}

.image-photo-upper{
  width: 50%;
}

img.upper-photo{
  width: 100%;
}
.description-upper{
  padding-left: 20px;
}
p.caption{
  font-size: 1.0rem;
  word-wrap: break-word;
  font-family: sans-serif;
  line-height:1.5;
}
// ーーーーーーーーーーーーーーーーーーー

// ーーーーーー下の段ーーーーーー
.content-lower{
  padding: 40px 10px;
  display: flex;
  border-bottom: 1px solid #C0C0C0;
}
.image-photo-lower{
  width: 100%;
}

.description-lower{
  padding-right: 20px;
 }
// ーーーーーーーーーーーーーーーーーーー


 .contact-box{
   width: 100%;
   padding: 50px 0;
   position: relative 
 }
 .icon{
  text-decoration: none;
  // margin: 0;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // margin-right: -50%;
  // transform: translate(-50%, -50%)
}
a.upper{
  border-radius: 20px;
  border:2px solid #CC0000;
  color: #fff;
  background-color: #CC0000;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}
a:hover.upper{
  background-color: #CC0008;
  opacity: 0.8;
  text-decoration: none;
}



// ーーーーー応募からの流れーーーーー
.flow {
  margin-top: 30px;
  width:100%;
  text-align: center;
  padding-bottom: 30px;
}
.flowtitle {
  font-size: x-large;
}
// ーーーーーーーーーーーーーーーーーーー

// ーーーーー応募からの流れ図形ーーーーー
.stepconnect {
  
  margin: 0 2%;

}

.connect {
  width: 100%;
}

// .connect {
//   margin: 0 auto;

// .mainimg img{
//   opacity: 0.5;
//   display:block;
// }


.step1{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 5%;
}
.step2{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 15%;
}
.step3{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 25%;
}
.step4{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 35%;
}
.step5{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 45%;
}

.stepbox{
  background-color: #3d1a99;
  width: 150px;
  height: 60px;
  position: relative;
  color: aliceblue;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 2px 2px 6px 2px #999;
  margin-bottom: 10px;
}
.flowbox{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.flowtitle-No{
  line-height: 60px;
  margin-left: 7px;
  font-size: xx-large;
}
.flowtitle-step{
  margin-right: 10px;
  line-height: 60px;
  font-size: medium;
}
.explanation {
  line-height: 60px;
  margin-left: 10px;
}
// }


.values{
  .values-frame{
    padding: 40px;
    .values-frame-title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 8px;
      position: relative;
      &::after{
        content: "";
        width: 70px;
        height: 3px;
        background-color: cadetblue;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      .values-frame-title-text{
        color: blue;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
      }
    }
    .values-frame-boxes{
      display: flex;
      .values-frame-boxes-block{
        display: flex;
        max-height: 500px;
        .values-frame-boxes-block-left{
          width: 50%;
          .values-frame-boxes-block-leftx-image{
            margin: 0 auto;
            padding: 50px;
            text-align: center;
            .value-image{
              max-width: 250px;
              height: 100%;
              max-height: 250px;
            }
          }
        }
        .values-frame-boxes-block-right{
          width: 50%;
          margin-left: 10px;
          padding: 50px;
          .values-frame-boxes-block-right-title{
            color: blue;
            border-bottom: blue 1px solid;
            padding-bottom: 8px;
            font-size: 25px;
            font-weight: bold;
          }
          .values-frame-boxes-block-right-text{
            padding: 10px 0;
          }
        }
      }
    }
  }
}

.movie{
  height: 450px;
  background:image-url("actshop.JPG");  
  background-size:cover;
  background-position:50%;
  position: relative;
  .movie-block{
    .movie-block-box{
      text-align: center;
      .movie-youtube{
        line-height: 450px;
        z-index: 1;
      }
    }
  }
}
.movie::after {
  content: '';
  background-color:  rgba($color: black, $alpha: 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 450px;
}
