// ヘッダー
.header {
	display: flex;
  flex-direction: row;
  padding: 2rem 0 0 0;
  justify-content: center;
}

.logobox {
  width: 223px;
  height: 38px;
}
.header-box {
	margin-left: auto;
	margin-top: 8px;
}

.contact-button {
	padding: 1rem;
	border: 0.5px solid #000;
  margin-right: 10px;
  border-radius: 5px;
}
// ーーーーーーーーーーーーーーーーーーー
// 画像のいろいろ
.missionbox {
  position: relative;
  text-align: center;
}
.mainimg{
  margin-top: 10px;
  background:image-url("actshopbackground.jpg");  
  width:100%;
  height: 500px;
  background-size:cover;
  background-position:50%;
  position: relative;
  box-sizing     : border-box; 
  justify-content: center;
  align-items    : center;  
}

.maincatchbox {
  position: absolute;  /*要素を浮かす*/
  top: 50%; /*親要素を起点に上から50%*/
  left: 50%;  /*親要素を起点に左から50%*/
  transform: translateY(-50%) translateX(-50%); /*要素の大きさの半分ずつを戻す*/
  -webkit-transform: translateY(-50%) translateX(-50%);
}

// // 画像内の文字
.maincatch {
  text-align: center;
  font-family: monospace;
  margin: 0;
  padding: .2em;
  font-size:1.7rem;
  color: #FFF;
  text-shadow: -1px -2px 3px #eff305ad;
}
.missionmessage {
  margin-top : 10px;
  margin-left: 10px;
  padding: .2em;
  font-size:1.4rem;
  color: #FFF;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
// ーーーーーーーーーーーーーーーーーーー

.values-menbers {
  width: 100%;
  height: 400px;
  background-color: aqua;
  .values-menbers-box {
    margin: 10px;
    background-color: cornflowerblue;
    height: 100%;
    // position: relative;
    .values-menbers-box-left {
      background-color: rgb(235, 220, 21);
      height: 100%;
      position: relative;
      .values-menbers-box-rite {
        background-color: rgb(235, 21, 146);
        height: 70%;
        width: 70%;
        position: absolute;
        margin:0 0 0 auto ;
        
      }
    }
  }
}

// ーーーーーphilosophy　BOXーーーーー
.catch{
  text-align: center;
  margin-top: 10px;
}
.under {
  font-size: x-large;
  font-family: cursive;
}
// ーーーーーーーーーーーーーーーーーーー

// ━━━━━━━━━━━社長BOX━━━━━━━━━━━
.message{
  clear: both;
  width: 100%;
  background: #f6f6f6;
  display: table;
  margin-top: 10px;
}
.message-box {
  width: 70%;
  margin: 0 auto;
}
ul.message-text{
  list-style: none;
  display: flex;
}
.topmessage {
  text-align: center;
  font-weight: 300;
  font-size: x-large;
}
.bgi{
  height: 100%;
  margin-left: 25px;
  margin-top: 10px;
}
img.topimg{
  height: auto;
}
// ━━━━━━━━━━━ここまで━━━━━━━━━━━

// ーーーーー私たちの挑戦ーーーーー
.challenge {
  margin-top: 10px;
  background:image-url("S__15515651.jpg");  
  width:100%;
  height: 100px;
  background-size:cover;
  background-position:50%;
  position: relative;
  box-sizing     : border-box; 
  display        : flex;
  justify-content: center;
  align-items    : center;  
}
.challenge::after {
  content: '';
  background-color: rgba(82, 1, 1, 0.685);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100px;
}
.challenge-title {
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  padding: .2em;
  font-size:1.5rem;
  color: #FFF;
  font-weight: bold;
  position: relative;
  z-index: 1;
}
// ーーーーー↓　↓従業員メッセージ↓　↓ーーーーー

.challenge-content {
  width: 90%;
  margin: 0;
  padding: 20px;
}

.box {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  border-bottom: 1px solid #C0C0C0;
}

.text {
}

h3 {
  font-size: 21px;
  margin: 0;
}

.pict {
  width: 30%;
  margin-left: 3%;
}

.pict img {
  width: 100%;
  height:auto;
  border-radius: 50%;
}

.box:nth-child(even) {
  flex-direction: row-reverse;
}
.box:nth-child(even) .text {
  // text-align: right;
}
.box:nth-child(even) .pict {
  margin-left: 0;
  margin-right: 3%;
}
p{
  font-size: x-small;
}
// ------従業員メッセージここまで-------


 .contact-box{
   width: 100%;
   padding: 50px 0;
   position: relative 
 }
 .icon{
  text-decoration: none;
}
a.upper{
  border-radius: 20px;
  border:2px solid #CC0000;
  color: #fff;
  background-color: #CC0000;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}
a:hover.upper{
  background-color: #CC0008;
  opacity: 0.8;
  text-decoration: none;
}



// ーーーーー応募からの流れーーーーー
.flow {
  margin-top: 30px;
  width:100%;
  text-align: center;
  padding-bottom: 30px;
}
.flowtitle {
  font-size: x-large;
}
// ーーーーーーーーーーーーーーーーーーー

// ーーーーー応募からの流れ図形ーーーーー
.stepconnect {
  
  margin: 0 2%;

}

.connect {
  width: 100%;
}

.step1{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 5%;
}
.step2{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 5%;
}
.step3{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 5%;
}
.step4{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 5%;
}
.step5{
  display: flex;
  height: 60px;
  margin-bottom: 11px;
  margin-left: 5%;
}

.stepbox{
  background-color: #3d1a99;
  width: 150px;
  height: 60px;
  position: relative;
  color: aliceblue;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 2px 2px 6px 2px #999;
  margin-bottom: 10px;
}
.flowbox{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.flowtitle-No{
  line-height: 60px;
  margin-left: 7px;
  font-size: xx-large;
}
.flowtitle-step{
  margin-right: 10px;
  line-height: 60px;
  font-size: medium;
}
.explanation {
  line-height: 60px;
  margin-left: 10px;
}

// ━━━━━━━応募の流れ箇所ここまで━━━━━━━

// .values{
//   .values-frame{
//     padding: 40px;
//     .values-frame-title{
//       text-align: center;
//       font-size: 26px;
//       line-height: 1.4;
//       font-weight: bold;
//       margin-bottom: 25px;
//       padding-bottom: 8px;
//       position: relative;
//       &::after{
//         content: "";
//         width: 70px;
//         height: 3px;
//         background-color: cadetblue;
//         position: absolute;
//         bottom: 0;
//         left: 50%;
//         transform: translateX(-50%);
//       }
//       .values-frame-title-text{
//         color: blue;
//         text-align: center;
//         font-size: 30px;
//         font-weight: bold;
//         padding-bottom: 12px;
//       }
//     }
//     .values-frame-content{
//       background-color: #f6f6f6;
//       word-wrap: break-word;
//       font-family: sans-serif;
//       line-height:2;
//       font-size: 1.0rem;
//       width: 75%;
//       padding: 25px 25px;
//       margin: 0 auto;

      
//     }
//   }
// }
//     .values-frame-boxes{
//         display: flex;
//       .values-frame-boxes-block{
//         display: flex;
//         max-height: 500px;
//         .values-frame-boxes-block-left{
//           width: 50%;
//           .values-frame-boxes-block-leftx-image{
//             margin: 0 auto;
//             padding: 50px;
//             text-align: center;
//             .value-image{
//               max-width: 250px;
//               height: 100%;
//               max-height: 250px;
//             }
//           }
//         }
//         .values-frame-boxes-block-right{
//           width: 50%;
//           margin-left: 10px;
//           padding: 50px;
//           .values-frame-boxes-block-right-title{
//             color: black;
//             border-bottom: black 1px solid;
//             padding-bottom: 8px;
//             font-size: 25px;
//             font-weight: bold;
//           }
//           .values-frame-boxes-block-right-text{
//             padding: 10px 0;
//           }
//         }
//       }
//     }
.values{
  margin: 0 auto;
  width: 70%;
  .values-frame{
    .values-frame-title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 8px;
      position: relative;
      // &::after{
      //   content: "";
      //   width: 70px;
      //   height: 3px;
      //   background-color: cadetblue;
      //   position: absolute;
      //   bottom: 0;
      //   left: 50%;
      //   transform: translateX(-50%);
      // }
      // .values-frame-title-text{
      //   color: blue;
      //   text-align: center;
      //   font-size: 30px;
      //   font-weight: bold;
      // }
    }
    .values-frame-boxes{
      display: flex;
      .values-frame-boxes-block{
        display: flex;
        max-height: 500px;
        // .values-frame-boxes-block-left{
        //   width: 50%;
        //   .values-frame-boxes-block-leftx-image{
        //     margin: 0 auto;
        //     padding: 0 50px 50px 50px;
        //     text-align: center;
        //     .value-image{
        //       max-width: 250px;
        //       height: 100%;
        //       max-height: 250px;
        //     }
        //   }
        // }
      }
    }
  }
}
.values-frame-boxes-block-content{
  width: 100%;

}
.value-image{
  max-width: 45px;
  height: 100%;
  bottom: 10px;
  float: right;
}
.values-frame-boxes-block-content-title{
  color: black;
  border-bottom: black 1px solid;
  padding: 5px 0;
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
}
.font-size{
  font-size: 22px;
}
.values-frame-boxes-block-content-text{
  padding: 15px 0;
  font-size: 13px;
  font-weight: 700;
}

.content-line{
  margin-bottom: 5px;
}
