// ━━━━━━━YouTubeの箇所━━━━━━━
.movie{
  width: 100%;
  height: 520px;
  background:image-url("inside_the_actool.JPG");  
  background-size:cover;
  background-position:50%;
  position: relative;
  .movie-block{
    height: 100%;
    width: 1000px;
    background-color: hotpink;
    margin: 0 auto;
    .movie-block-box{
      text-align: center;
      width:100%;              /*横幅いっぱいにwidthを指定*/
      padding: 25% 0;  /*高さをpaddingで指定(16:9)*/
      height:0px;              /*高さはpaddingで指定するためheightは0に*/
      position: relative;
      border: 10px solid gray;
      z-index: 1;
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.movie::after {
  content: '';
  background-color:  rgba($color: black, $alpha: 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 520px;
}
// ━━━━━━━YouTubeの箇所ここまで━━━━━━━

