<div class="row1">
  <div class="col span-12 header">
    <h1><a href=""><img src="assets/logo_actool.png" alt="actlogo" class="logobox"></a></h1>
		  <div class="header-box"><a href="#5"><span class="contact-button">お問い合わせ</span></a></div>
  </div>
  </div>
<%# <div class="row1">
    <div class="col span-12">
        <nav>   
            <div id="nav">
        <ul class="menubtn">
            <li><a href="#">ホーム</a></li>
            <li><a href="#1">ACTのインターン</a></li>
            <li><a href="#2">新卒入社の先輩</a></li>
            <li><a href="#3">申し込みの流れ</a></li>
            <li><a href="#4">アクセス</a></li>
            <li><a href="#5">お問い合わせ</a></li>
         </ul>
             </div>
        </nav> %>
    
  </div>
</div>
<div class="missionbox">
  <div class="mainimg">
    <h1><span class="maincatch"> MISSION </span></h1>
      <p class="missionmessage">リユースサービスを通じて<br>お客様へ幸せをもたらします</p>
  </div>
</div>
  <main>
    <div class="catch">
      <h2><span class="under">ー Philosophy ー</span></h2>
      <p class="philosophymessage">人間力が自ら成長し<br>チャレンジ精神と思いやりに溢れた人財の宝庫となる</p>      
    </div>
  </main>
</div>

<div class="message">
  <div class="message-box">
    <ul class="message-text">
      <li>
        <h2 class="topmessage">社長からのメッセージ</h2>
          <p>社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・</p>
      </li>
      <li>
        <p class="bgi"><img src="assets/topitou.jpg" alt="" class="topimg"></p>
      </li>
    </ul>
  </div>
</div>


<div class="challenge">
  <h1><span class="challenge-title"> 私たちの挑戦 </span></h1>
</div>


<div class="content-upper">
  <p class="image-photo-upper"> <img src="assets/product.jpg" class="upper-photo" %></p>
  <div class="description-upper">
    <p class="caption">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  </div>
</div>
<div class="content-lower">
  <div class="description-lower">
    <p class="caption">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </p>
</div>
  <p class="image-photo-lower"> <img src="assets/product.jpg" class="upper-photo" %></p>
</div>

<div class="contact-box">
  <div class="icon">
    <%=link_to "応募はこちらから", "#", class: "upper"  %>
  </div>
</div>


<div class="flow">
  <h1><span class="flowtitle"> - 応募からの流れ - </span></h1>
</div>

<div class="stepconnect">
<div class="connect">

  <div class="step1">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ① </span></h3>
        <h3><span class="flowtitle-step"> エントリー </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step2">
  <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ② </span></h3>
        <h3><span class="flowtitle-step"> 日 程 調 整 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step3">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ③ </span></h3>
        <h3><span class="flowtitle-step"> 業 務 体 験 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step4">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ④ </span></h3>
        <h3><span class="flowtitle-step"> 選考START </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step5">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ⑤ </span></h3>
        <h3><span class="flowtitle-step"> 一 次 選 考 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
</div>
</div>

<%= render 'new_graduates/message' %>

<%# YouTubeの場所 %>

<div class="challenge">
  <h1><span class="challenge-title"> 説明動画 </span></h1>
</div>

<div class="movie">
  <div class="movie-block">
    <div class="movie-block-box">
      <iframe class= "movie-youtube" width="560" height="315" src="https://www.youtube.com/embed/MgksYZYr8Wo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%# <iframe class= "movie-youtube" width="560" height="315" src="https://www.youtube.com/embed/SalpM8z8oRo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>
    </div>
  </div>
</div>
<%# ━━━━━━YouTubeここまで━━━━━━━━ %>

<div class="values-menbers">
  <div class="values-menbers-box">
    <div class="values-menbers-box-left">
      <div class="values-menbers-box-rite">
          


      </div>
    </div>
  </div>
</div>


  







<%= render 'inquiry/index' %>