<div class="row1">
  <div class="col span-12 header">
    <h1><a href=""><img src="assets/logo_actool.png" alt="actlogo" class="logobox"></a></h1>
		  <div class="header-box"><a href="#5"><span class="contact-button">お問い合わせ</span></a></div>
  </div>
  </div>
<%# <div class="row1">
    <div class="col span-12">
        <nav>   
            <div id="nav">
        <ul class="menubtn">
            <li><a href="#">ホーム</a></li>
            <li><a href="#1">ACTのインターン</a></li>
            <li><a href="#2">新卒入社の先輩</a></li>
            <li><a href="#3">申し込みの流れ</a></li>
            <li><a href="#4">アクセス</a></li>
            <li><a href="#5">お問い合わせ</a></li>
         </ul>
             </div>
        </nav> %>
    
  </div>
</div>
<div class="missionbox">
  <div class="mainimg">
    <h1><span class="maincatch"> MISSION </span></h1>
      <p class="missionmessage">リユースサービスを通じて<br>お客様へ幸せをもたらします</p>
  </div>
</div>
  <main>
    <div class="catch">
      <h2><span class="under">ー Philosophy ー</span></h2>
      <p class="philosophymessage">人間力が自ら成長し<br>チャレンジ精神と思いやりに溢れた人財の宝庫となる</p>      
    </div>
  </main>
</div>

<div class="message">
  <div class="message-box">
    <ul class="message-text">
      <li>
        <h2 class="topmessage">社長からのメッセージ</h2>
          <p>社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・社長からのメッセージ・</p>
      </li>
      <li>
        <p class="bgi"><img src="assets/topitou.jpg" alt="" class="topimg"></p>
      </li>
    </ul>
  </div>
</div>


<div class="challenge">
  <h1><span class="challenge-title"> 私たちの挑戦 </span></h1>
</div>


<div class="content-upper">
  <p class="image-photo-upper"> <img src="assets/product.jpg" class="upper-photo" %></p>
  <div class="description-upper">
    <p class="caption">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
  </div>
</div>
<div class="content-lower">
  <div class="description-lower">
    <p class="caption">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    <br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
    </p>
</div>
  <p class="image-photo-lower"> <img src="assets/product.jpg" class="upper-photo" %></p>
</div>

<div class="contact-box">
  <div class="icon">
    <%=link_to "応募はこちらから", "#", class: "upper"  %>
  </div>
</div>


<div class="flow">
  <h1><span class="flowtitle"> - 応募からの流れ - </span></h1>
</div>

<div class="stepconnect">
<div class="connect">

  <div class="step1">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ① </span></h3>
        <h3><span class="flowtitle-step"> エントリー </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step2">
  <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ② </span></h3>
        <h3><span class="flowtitle-step"> 日 程 調 整 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step3">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ③ </span></h3>
        <h3><span class="flowtitle-step"> 業 務 体 験 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step4">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ④ </span></h3>
        <h3><span class="flowtitle-step"> 選考START </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
  <div class="step5">
    <div class="stepbox">
      <div class="flowbox"> 
        <h3><span class="flowtitle-No"> ⑤ </span></h3>
        <h3><span class="flowtitle-step"> 一 次 選 考 </span></h3>
      </div>
    </div>
    <p class="explanation">応募ボタンよりエントリーお手続きをお願いします。</p>
  </div>
</div>
</div>

<div class="challenge">
  <h1><span class="challenge-title"> 人事からのメッセージ </span></h1>
</div>


<div class="values">
  <div class="values-frame">
    <div class="values-frame-title">
      <p class="values-frame-title-text">大切にしている価値観</p>
    </div>
    <p class="values-frame-content">　皆様、はじめまして。
      株式会社アクトの島田です。
      <br>
      私たちアクトの採用においては、人物重視のスタンスで、学生の皆様や中途入社を希望されるキャリアの皆様と向き合い、納得いくまで語り合うスタンスを取っております。

      <br>
　      私自身が外部からアクトに参画し、外部での経験を活かしながら、アクトの想いを大切にし、皆様とアクトが相思相愛になる為の橋渡しの役目と思い、採用に多くのパワーと情熱をかけて参りました。

      <br>
  　    アクトでは、企業の急速な成長に伴い、人材育成を最重要課題とし、入社後から、新入社員教育などの経験に合わせた研修制度や、配属後も各自の適性を見ながら長期のキャリアプランを策定・フォローするなど、社員が安心して成長できる環境をきちんと整えており、社員が自分の将来に意欲を持って取り組めるよう「組織の活性化」「人材開発」を積極的に取り組んでおります。

      <br>
　      工具といえば男性がメインとイメージされがちですが、
      ここ数年の間に、女性社員の入社率が上がり、多くの女性の皆様と出会う事も出来ました。
      優秀な人材に男女は関係なく、これからも積極的に女性の採用にも力を入れて参りたいと思います。
      <br>
　      ただ、女性が生涯働くには、出産や育児など、男性に比べいろいろ難しい面もあります。
      そのためにも、制度の見直しや働きやすい環境の整備にも力を入れて参りました。

      <br>
　      アクトは、経営理念にもありますが、「お客様」＝「人」を大切にする会社です。
      私自身、弊社代表の伊藤と出会い、その強い「想い」に感銘を受け、アクトと共に歩んで行くことを決意し、今も歩み続けております。

      <br>
　      長くなってしまいましたが、少しでもアクトを知ってもらい、そこから皆様との縁を大切にしていきたいと強く願っております。
      皆さんとの出会いを心より楽しみにしております。

      <br>
      <br>
        株式会社アクト
          管理本部長　島田　和也 </p>
  </div>
</div>

<%# YouTubeの場所 %>
<div class="movie">
  <div class="movie-block">
    <div class="movie-block-box">
      <iframe class= "movie-youtube" width="560" height="315" src="https://www.youtube.com/embed/MgksYZYr8Wo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <%# <iframe class= "movie-youtube" width="560" height="315" src="https://www.youtube.com/embed/SalpM8z8oRo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> %>
    </div>
  </div>
</div>
<%# ━━━━━━YouTubeここまで━━━━━━━━ %>


<div class="values-menbers">
  <div class="values-menbers-box">
    <div class="values-menbers-box-left">
      <div class="values-menbers-box-rite">
          


     </div>
    </div>
  </div>
</div>


  







<%= render 'inquiry/index' %>